@font-face {
      src: url(NCS_Rogueland.ttf);
      font-family: NCS_Rogueland;
}


body {
  padding: 20px 30px 30px 30px;
  font-family: NCS_Rogueland;
  background-color: #F8F8FF;
  color: black;
  line-height: 20px;
  letter-spacing: 2px;

}

br
{   content: "A" !important;
    display: block !important;
    margin-bottom: 1.25em !important;
}

.head{
  font-weight: bold;
  font-size: 50px;
  padding: 20px;
  margin-left: 420px;
  margin-bottom: 50px;
  width: 37%
}

button {
  font-size: 16px;
  padding: 8px;
  border-width:5px;
  border-style:inset;
  border-radius: 50px;
  border-color: black;
}

.redButton{
  background: linear-gradient(to right, red, purple);
}
.greenButton{
  background: linear-gradient(to right, green, lightgreen);
}
.blueButton{
  background: linear-gradient(to right, blue, lightblue);
}
.yellowButton{
  background: linear-gradient(to right, yellow, orange);
}
.white{
  background: linear-gradient(to right, azure, cornsilk);
}

table, th, td {
  border: 1px solid black;
  border-radius: 50px;
  text-align: center;
  border-style: inset;
  border-color: black;
}

table {
  margin-top: 25px;
  width: 100%;
}
