@font-face {
      src: url(NCS_Rogueland.ttf);
      font-family: NCS_Rogueland;
}


body {
  padding: 0 30px 0 30px;
  font-family: NCS_Rogueland;
  background-image: url(bgf.jpg);
  color: white;

}

button {
  font-size: 16px;
  padding: 8px;
  border-width:5px;
  border-style:inset;
}

.redButton{
  background-color: pink;
}
.greenButton{
  background-color: lightgreen;
}
.blueButton{
  background-color: lightblue;
}
.yellowButton{
  background-color: yellow;
}
.white{
  background-color: white;
}

table, th, td {
  border: 0.5px solid black;
}

table {
  margin-top: 15px;
}
